iframe, img {display: inline;margin: 0px 25px;border: solid rgb(153, 151, 151); border-radius: 10px;}
div img{border: solid black; border-radius: 25px;}
main h2{font-size: 25; text-shadow: 3px 2px 3px white}
footer{position: absolute; bottom: 0; }