
/* .nav_links {text-align: center; transition: all 0.3s ease 0s;}

.nav_links li{display: inline-block; font-family: Georgia; font-size: 25px;}

.nav_links li 
        a:link {
          color: aliceblue;
          background-color: transparent;
          text-decoration: none;
          text-shadow: 2px 1px 3px black;}
        a:visited {
          color: aliceblue;
          background-color: transparent;
          text-decoration: none;}
        a:hover {
          color: #79be20;
          background-color: transparent;
          text-shadow: 3px 2px 3px black;}
        a:active {
          color: #94e629;
          background-color: transparent;}
        a {margin: 100px; transition: all 0.3s ease 0s;} */

      